---
import Navbar from "../components/Navbar.astro";
import Servicios from "../components/Servicios.astro";
import Clientes from "../components/Clientes.astro";
import MainPage from "../components/MainPage.astro";
import "../css/main.css";
---

<MainPage>
  <section class="">
    <Navbar />
    <section>
      <section class="bg-[#d4bfaa] flex justify-center p-24 relative">
        <h2 class="text-white text-5xl text-center relative z-20">
          conectamos con tu marca <br /> en su propio mundo <br /> de forma exclusiva.
        </h2>
      </section>
      <div class="flex justify-end pr-28 -mb-20 relative -top-40">
        <img src="/lines.png" class="absolute top-0 -z-10 w-48 h-auto">
      </div>
    </section>    
    <section class="flex p-14 mt-20">
      <div class="grid grid-cols-1 gap-5 w-1/2 ml-56 text-xl">
        <p class="text-[#555636]">
          Somos mentes creativas, estratégicas y planificadas
        </p>
        <p class="text-[#555636]">
          La eficiencia y constancia es nuestro mayor componente para alcanzar
          tus expectativas.
        </p>
        <p class="text-[#555636] font-medium italic">
          Creamos conceptos estretégicos y cretivos que sirven como eje para
          cada paso que damos.
        </p>
      </div>
    </section>
    </section>
    <Servicios />
    <Clientes />
    <section class="text-center text-3xl py-36 px-48">
      <h2 class="text-[#555636]">
        Perseguimos la efectividad, transparencia y compromiso para cumplir con
        los estándares de tu marca.
      </h2>
      <h2 class="text-[#555636] mt-28">
        CONTACTO:<br />THESTUDIOAV@GMAIL.COM
      </h2>
    </section>
  </section>
</Layout>
