---
import Navbar from "../components/Navbar.astro";
import MainPage from "../components/MainPage.astro";
import Designs from "../components/Designs.astro";
import Organics from "../components/Organics.astro";
import "../css/main.css";
---


<MainPage>
  <section class="">
    <Navbar />
    <section>
      <section class="bg-[url('/banner-portafolio.jpg')] relative w-full h-auto bg-cover bg-no-repeat bg-center py-36">
        <div class="ml-20">
          <h2 class="text-white text-8xl z-20 relative DmSansSemiBold">
            PORTAFOLIO
          </h2>
          <p class="DmSansExtraLight text-white text-2xl">Ready to rock our work?</p>
        </div>
      </section>
    </section>
    <section class="flex justify-evenly align-center py-20">
      <div class="bg-[#555636] py-3 px-4 rounded-full my-1"></div>
      <h2 class="text-5xl text-[#555636] font-bold">DISEÑO</h2>
      <div class="bg-[#555636] py-3 px-4 rounded-full my-1"></div>
    </section>
  </section>
  <Designs />
  <section class="flex justify-evenly align-center py-20">
    <div class="bg-[#EE561D] py-3 px-4 rounded-full my-7"></div>
    <h2 class="text-5xl text-[#EE561D] DmSansExtraLight text-center"><span class="DmSansSemiBold">CREACIÓN DE CONTENIDO</span><br/>Orgánico</h2>
    <div class="bg-[#EE561D] py-3 px-4 rounded-full my-7"></div>
  </section>
  <Organics />
  <section class="py-16"></section>
</MainPage>
