<section id="Clientes" class="mt-20">
  <!-- <div class="text-center text-2xl text-[#555636] mb-10">Servicios</div> -->
  <div class="grid grid-cols-3 gap-x-16 gap-y-10 mx-24">
    <div class="flip-box w-full h-full">
      <div class="flip-box-inner grid grid-cols-1 gap-5 w-full h-full">
        <div class="flip-box-front absolute">
          <img src="tempo.png" />
        </div>
        <div
          class="flip-box-back grid grid-cols-1 text-4xl text-center justify-center content-center italic"
        >
          LOGO
        </div>
      </div>
    </div>

    <div class="flip-box">
      <div class="flip-box-inner grid grid-cols-1 w-full h-full">
        <div class="flip-box-front absolute">
          <img src="dopodomani.png" />
        </div>
        <div
          class="flip-box-back grid grid-cols-1 text-4xl text-center justify-center content-center bg-white italic"
        >
          SOCIAL MEDIA <br />
          <p class="text-xl">HOME</p>
        </div>
      </div>
    </div>

    <div class="flip-box w-full h-full">
      <div class="flip-box-inner grid grid-cols-1 gap-5 w-full h-56">
        <div class="flip-box-front absolute">
          <img src="atipico.png" />
        </div>
        <div
          class="flip-box-back grid grid-cols-1 text-4xl text-center justify-center content-center italic"
        >
        SOCIAL MEDIA <br />
        <p class="text-xl">FOOD</p>
        </div>
      </div>
    </div>

    <div class="flip-box w-full h-full">
      <div class="flip-box-inner grid grid-cols-1 gap-5 w-full h-full">
        <div class="flip-box-front absolute">
          <img src="kaleido.png" />
        </div>
        <div
          class="flip-box-back grid grid-cols-1 text-4xl text-center justify-center content-center italic"
        >
          BRANDING
        </div>
      </div>
    </div>

    <div class="flip-box">
      <div class="flip-box-inner grid grid-cols-1 w-full h-full">
        <div class="flip-box-front absolute">
          <img src="ilrosso.png" />
        </div>
        <div
          class="flip-box-back grid grid-cols-1 text-4xl text-center justify-center content-center bg-white italic"
        >
          LOOK AND FEEL
        </div>
      </div>
    </div>

    <div class="flip-box w-full h-full">
      <div class="flip-box-inner grid grid-cols-1 gap-5 w-full h-56">
        <div class="flip-box-front absolute">
          <img src="panaleman.png" />
        </div>
        <div
          class="flip-box-back grid grid-cols-1 text-4xl text-center justify-center content-center italic"
        >
          SOCIAL MEDIA <br />
          <p class="text-xl">FOOD</p>
        </div>
      </div>
    </div>
  </div>
</section>
