<section id="Designs" class="">
  <div class="grid grid-cols-3 gap-5">
    <img src="/design1.png" />
    <img src="/design2.png" />
    <img src="/design3.png" />
    <img src="/design4.png" />
    <img src="/design5.png" />
    <img src="/design6.png" />
    <img src="/design7.png" />
    <img src="/design8.png" />
    <img src="/design9.png" />
  </div>
</section>
