---
// import {} from "react-icons/fa/index";
// import {} from "react-icons/md/index";
---

<header
  class="fixed flex bg-white justify-between items-center z-40 w-screen py-10 font-serif text-black top-0 left-0"
>
  <h2
    class="text-4xl text-[#555636] font-semibold ml-10 lg:ml-16 cursor-pointer"
  >
    the studio
  </h2>
  <navbar class="navbar-home mr-4 lg:mr-16">
    <ul class="flex items-center resp:mt-5 resp:flex-col">
      <li class="my-2.5">
        <a
          href="/"
          class="text-xl font-medium ml-6 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          About
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/"
          class="text-xl font-medium ml-6 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Servicios
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/"
          class="text-xl font-medium ml-6 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Portfolio
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/"
          class="text-xl font-medium ml-6 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Equipo
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/"
          class="text-xl font-medium ml-6 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Contactos
        </a>
      </li>
    </ul>
  </navbar>
</header>
