---
---

<header
  class="flex bg-white justify-between items-center z-40 py-28 px-32 h-32 text-black top-0 left-0"
>
<a href="/">
  <img src="/thestudiologo.png" class="w-80 ms-10"/>
</a>
  <navbar class="navbar-home mr-4 lg:mr-16">
    <ul class="flex items-center resp:mt-5 resp:flex-col">
      <li class="my-2.5">
        <a
          href="/"
          class="text-md font-medium ml-12 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          About
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/"
          class="text-md font-medium ml-12 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Servicios
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/portafolio"
          class="text-md font-medium ml-12 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Portafolio
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/"
          class="text-md font-medium ml-12 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Equipo
        </a>
      </li>
      <li class="my-2.5">
        <a
          href="/"
          class="text-md font-medium ml-12 hover:text-[#555636] hover:transition-all duration-300 resp:m-0"
        >
          Contactos
        </a>
      </li>
    </ul>
  </navbar>
</header>
