<section id="Organics" class="">
  <div class="grid grid-cols-3 gap-5">
    <img src="/organic1.png" />
    <img src="/organic2.png" />
    <img src="/organic3.png" />
    <img src="/organic4.png" />
    <img src="/organic5.png" />
    <img src="/organic6.png" />
    <img src="/organic7.png" />
    <img src="/organic8.png" />
    <img src="/organic9.png" />
  </div>
</section>
