<section id="Servicios" class="w-full mt-20">
  <div class="flex">
    <div class="flex-auto w-32"></div>
    <div class="flex-none w-full max-w-[1000px]">
      <div class="grid grid-cols-3 gap-8 px-24">
        <div class="flip-box h-full w-full">
          <div class="flip-box-inner grid grid-cols-1 text-white gap-5">
            <div
              class="bg-[#d4bfaa] w-full aspect-[10/11] rounded-[47%/42.72%] text-center content-center flip-box-front"
            >
              <h2 class="text-2xl">Branding</h2>
            </div>
            <div
              class="bg-[#d4bfaa] w-full aspect-[10/11] rounded-[47%/42.72%] px-10 text-xs text-center content-center flip-box-back absolute"
            >
              <p class="pb-5">
                Desarrollamos tu marca de lo mas profundo hasta lo mas
                superficial para mostrarla con sentido.
              </p>
              <p>Sí, creamos marcas propias.</p>
            </div>
          </div>
        </div>
        <div class="flip-box h-full w-full">
          <div class="flip-box-inner grid grid-cols-1 text-white gap-5">
            <div
              class="bg-[#555636] w-full aspect-[10/11] rounded-[47%/42.72%] text-center content-center flip-box-front"
            >
              <h2 class="text-2xl">Gestión de <br />Redes Sociales</h2>
            </div>
            <div
              class="bg-[#555636] w-full aspect-[10/11] rounded-[47%/42.72%] px-10 text-xs text-center content-center flip-box-back absolute"
            >
              <p>
                Gestionamos tu marca y comunidad en redes sociales. Desde la
                planificación estratégica, hasta la creación de contenido y
                monitoreo diario.
              </p>
              <p>Tú decides hasta donde llegar.</p>
            </div>
          </div>
        </div>
        <div class="flip-box h-full w-full">
          <div class="flip-box-inner grid grid-cols-1 text-white gap-5">
            <div
              class="bg-[#d4bfaa] w-full aspect-[10/11] rounded-[47%/42.72%] text-center content-center flip-box-front"
            >
              <h2 class="text-2xl">Identidad Visual</h2>
            </div>
            <div
              class="bg-[#d4bfaa] w-full aspect-[10/11] rounded-[47%/42.72%] px-10 text-xs text-center content-center flip-box-back absolute"
            >
              <p>Diseñamos la esencia de tu marca.</p>
              <p>
                Aquí hablamos de un brandbook. <br /> Todo lo que necesitas a nivel
                gráfico.
              </p>
            </div>
          </div>
        </div>
        <div class="flip-box h-full w-full">
          <div class="flip-box-inner grid grid-cols-1 text-white gap-5">
            <div
              class="bg-[#555636] w-full aspect-[10/11] rounded-[47%/42.72%] text-center content-center flip-box-front"
            >
              <h2 class="text-2xl">Creación de contenido</h2>
            </div>
            <div
              class="bg-[#555636] w-full aspect-[10/11] rounded-[47%/42.72%] px-10 text-xs text-center content-center flip-box-back absolute"
            >
              <p>Hacemos todo el contenido orgánico o profesional por ti.</p>
              <p>
                Si no tienes tiempo o no eres constante creando el contenido que
                necesitas.
              </p>
            </div>
          </div>
        </div>
        <div class="flip-box h-full w-full">
          <div class="flip-box-inner grid grid-cols-1 text-white gap-5">
            <div
              class="bg-[#d4bfaa] w-full aspect-[10/11] rounded-[47%/42.72%] text-center content-center flip-box-front"
            >
              <h2 class="text-2xl">Look and feel</h2>
            </div>
            <div
              class="bg-[#d4bfaa] w-full aspect-[10/11] rounded-[47%/42.72%] px-10 text-xs text-center content-center flip-box-back absolute"
            >
              <p>
                Instagram es tu vitrina, definimos una identidad visual
                coherente y atractiva para tu marca en redes sociales
              </p>
            </div>
          </div>
        </div>
        <div class="flip-box h-full w-full">
          <div class="flip-box-inner grid grid-cols-1 text-white gap-5">
            <div
              class="bg-[#555636] w-full aspect-[10/11] rounded-[47%/42.72%] text-center content-center flip-box-front"
            >
              <h2 class="text-2xl">Estrategia comunicacional</h2>
            </div>
            <div
              class="bg-[#555636] w-full aspect-[10/11] rounded-[47%/42.72%] px-10 text-xs text-center content-center flip-box-back absolute"
            >
              <p>
                Toda marca quiere ser parte de <br />este mundo digital. Pero no <br
                />todas tienen una partida. De eso <br />se trata.
              </p>
              <p>
                ¿Tienes una marca pero <br />no sabes como arrancar?<br
                />¡Aterricemosla ya!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-auto w-32"></div>
  </div>
</section>
