h2 {
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.flip-box {
  background-color: transparent;
  perspective: 1000px;
}

.flip-box-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  backface-visibility: hidden;
}

.flip-box-back {
  transform: rotateY(180deg);
}

.flip-box-back h2, .flip-box-back p {
  transform: translateZ(60px);
  transition: transform 0.6s;
}

.flip-box:hover .flip-box-back h2, 
.flip-box:hover .flip-box-back p {
  transform: translateZ(30px);
}