.splide {
    padding: 3rem !important;
}

.splide__arrow--prev {
    left: 0.5em !important;
}

.splide__arrow--next {
    right: 0.5em !important;
}

.splide__arrow {
    background: transparent !important;
    color: #000 !important;
    width: 3rem !important;
    height: 3rem !important;
}

.splide__arrow svg {
    width: 100% !important;
    height: 100% !important;
}